[Unit]
Description=Power Button service

[Service]
ExecStart=REPO_DIR/venv/bin/python power_button.py
WorkingDirectory=REPO_DIR
Restart=Always
User=root

[Install]
WantedBy=multi-user.target
